{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block css %}
  <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block content %}
  <div class="p-4">
    <div class="d-flex justify-content-center align-items-center">
      <h1 class="me-4 my-4">상품 등록</h1>
      <span>
        <a href="{% url 'main' %}" class="btn btn-outline-secondary">BACK</a>
      </span>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-6">
        <form class="form" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button class="btn btn-outline-primary form-control mb-3" type="submit">OK</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}